body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.solar-system {
  position: relative;
  width: 400px;
  height: 400px;
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50%;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 50%;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.orbit:nth-child(2) {
  animation-name: orbitMercury;
}

.orbit:nth-child(3) {
  animation-name: orbitVenus;
}

.planet {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: transparent;
}

.mercury {
  width: 10px;
  height: 10px;
  background-color: gray;
}

.venus {
  width: 15px;
  height: 15px;
  background-color: orange;
}

@keyframes orbitMercury {
  from {
    transform: rotate(0deg) translateX(100px) translateY(-50%)
      translate(-50%, -50%);
  }
  to {
    transform: rotate(360deg) translateX(100px) translateY(-50%)
      translate(-50%, -50%);
  }
}

@keyframes orbitVenus {
  from {
    transform: rotate(0deg) translateX(150px) translateY(-50%)
      translate(-50%, -50%);
  }
  to {
    transform: rotate(360deg) translateX(150px) translateY(-50%)
      translate(-50%, -50%);
  }
}
